FormatVersion: 2.0.0
Version: 1.0.0
Name: Deploy GitLab Runner

Parameters:
  runnerName: $runnerName
  runnerUrl: $runnerUrl
  runnerToken: $runnerToken

Body: |
  return runnerDeploy('\'{0}\' \'{1}\' \'{2}\''.format(args.runnerName, args.runnerUrl, args.runnerToken)).stdout

Scripts:
  runnerDeploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: deploy.sh
    Files: []
    Options:
      captureStdout: true
      captureStderr: true
